.resultDisplay {
  width: fit-content;
  margin-left: 4rem;
  font-weight: 100;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-family: Arial;
  color: #5e5e5e;
}
    @media (min-width: 300px) and (max-width: 500px) {
        .resultDisplay {
              margin-left: 2rem;

        }
    }