.maincon{
    /* background: linear-gradient(to bottom right, #000000 20%,#000000 50%, #212121 80%);  */
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    padding: 0.7rem 0 0 0rem;
    height: 4rem;
    /* font-family: 'Times New Roman', Times, serif; */
    /* box-shadow: 2px 10px 40px 4px rgba(0, 0, 0, 0.599); */
  /* horizontal | vertical | blur | spread | color */
    /* background-color: aqua; */
    position: relative;
}
.clerkb{
  position: absolute;
  right: 1.5rem;
  top:1.2rem;
  /* background-color: red; */
}
.sighin{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  color: rgb(214, 214, 214);
  font-size: 1rem;
  cursor: pointer;
}
.sighin:hover{
  color: rgba(255, 166, 0, 0.684);
}
.maincon .logo{
    /* background-color: rgb(0, 255, 106); */
    color: rgb(252, 252, 252);
    font-size: 2rem;
    margin: 0rem 0rem;
    font-weight: 400;
    padding-left: 1rem;
    cursor: pointer;
}
/*NavBar*/
.navdiv{
    height: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 0.6rem;
    /* margin-top: 30px; */
    /* background-color: aqua; */
}
.navdiv ul{
    height: fit-content;
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 15px;
    align-items: center;
    margin: 0;
    padding:0.3rem 1.4rem;
    /* border: solid rgb(255, 157, 0); */
    
}

.navdiv a{
    font-size: 1rem;
    
    font-weight: 500;
    color: black;
    margin: 0.5rem;
    text-decoration: none;
    /* background-color: aqua; */
}
.navdiv a:hover{
  color: #f17b06;
}
.sbar{
    /* background-color: rgb(255, 143, 221); */
    margin: 0 -2rem 0 0;
    position: relative;
}
.sbar form>input{
    border-radius: 15px;
    outline: none;
    /* border: 2px solid orange; */
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 0.2rem 1.7rem 0.2rem 1rem;
    margin-left: 1rem;
    width: 9rem;
    height: auto;

}
.sbar form>input:focus {
  outline: none;
    border: 2px solid orange; /* Add your custom color */
}
.sbar form>button{
 background: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  margin-left: -2rem;
  padding-top: 0rem;
}

.sbar form>button{
  color: #000;
}
/*Content//////////////////////////////////////////////*/
.allList{
    /* background-color: rgb(177, 69, 69); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.allList> button{
    /* background-color:transparent; */
    align-self: center;
    border: 0;
    cursor: pointer;
      color: #515151;

    /* background-color: rgb(140, 25, 255); */
}
.mainlist{
    /* background-color: blue; */
    margin: 0.5rem 0rem 0.5rem 0;
}
.mainlist h2{
    margin-left: 2.5rem;
    font-weight: 500;
}
.secmainlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: rgb(255, 133, 46); */
    position: relative;
    /* padding-left: 2rem; */
}
.list::-webkit-scrollbar{
    display: none;
}
.secmainlist a{
    position: absolute;
    top: 0;
    right: 0;
    margin: -1.2rem 2rem 0rem 0;
    text-decoration: none;
    color: #515151;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}
.secmainlist a:hover{
  color: rgb(255, 145, 0);
}

.list{
    /* background-color: #8a2be2; */
    display: flex;
    overflow: scroll;
    /* width: 98%; */
    padding: 0 1.5rem;

}
.list button{
    background: transparent;
    /* background: radial-gradient(circle, rgba(40, 40, 40, 0.134) 1%, transparent 80%); */
    align-self: center;
    height:fit-content;
    position: absolute;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    /* height: 60px;
    width: 21px; */
    /* height: 12rem; */
    /* align-self: center; */
    border: 0px ;
    /* border-radius: 20px; */
    /* filter: opacity(0.9); */
    /* color: rgb(0, 0, 0); */
    /* font-family:  Courier, monospace; */
    /* margin-left: 0.2rem; */
    /* cursor: pointer; */
    z-index: 999;
      opacity: 0.7; /* Makes the image 50% transparent */
     /* box-shadow: 2px 10px 40px 4px rgba(0, 0, 0, 0.908); */
  /* horizontal | vertical | blur | spread | color */
}
.list button:first-child{
  /* background-color: rgb(255, 0, 149); */
  left: -10px;
}
.list button:last-child{
    margin-right: 0.1rem;
    /* background-color: green; */
    right: -10px;
}
.listItem{
    background-color: rgb(255, 255, 255);
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 13.4rem;
    border-radius: 12px;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;

     box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26);
  /* horizontal | vertical | blur | spread | color */
}
.listItem:hover{
    transform: scale(1.02);
}
.listItem img{
    border-radius: 0px;
    width: 12rem;
    height: 8.5rem;
}
.listItem span{
    font-size: 0.8rem;
    text-align: center;
    font-family:   Arial, sans-serif;
    /* background-color: #555; */
    padding: 0.2rem 0 0 0;
    color: #3b3b3b;
}
.suggList{
  max-height: 23rem;
  width: 15rem;
  background-color: rgb(247, 247, 247); 
  z-index: 99999;
  position: absolute;
  right: -2.5rem;
  top: 2rem;
  border-radius: 10px;
  padding: 0.3rem 0rem 0.4rem 0;
  overflow: hidden;
  box-shadow: 2px 2px 10px 3px rgba(66, 66, 66, 0.278);

}
.suggList>div{
  margin: 0px;
  padding: 3px 0.9rem;
  /* font-size: 1rem; */
  font-size: 0.95rem;
  font-family: Arial, sans-serif;
  font-weight: 300;
  color: #3b3b3b;
  border-bottom:1px solid #dad9d9;

  /* background-color: red; */
  /* border: 1px solid rgb(83, 83, 83); */
}
.suggList>div:hover{
  background-color: #acacac53;
}
.loading {
  animation: spin 0.7s linear infinite;
  display: flex;
  /* background-color: #000; */
  justify-self: center;
  margin: 1rem;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 300px) and (max-width: 860px) {
  .maincon{
    flex-direction: column;
    height: 6rem;
    /* background-color: aqua; */
  }
  .maincon .logo{
    margin-left: 1rem;
  }
  .navdiv{
    width: 100%;
    margin-left: 0;
  }
  .maincon div:first-child{
    margin-left: 1rem;
  }
  .sbar form>input{
    padding: 0.2rem 1.6rem 0.2rem 1rem;
    margin-left: 0.2rem;
    width: 8rem;

  }
}


@media (min-width: 1100px){
    .maincon{
    flex-direction: row;
    /* justify-content: center; */
    /* height: 6rem; */
  }
   .maincon div:first-child{
    margin-left: 1rem;
  }
  .navdiv{
    width: 60%;
  }
    
     }

     @media (max-width: 550px){
    .maincon{
        height: 7.7rem;
        padding-bottom: 1rem;
    }
    .navdiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navdiv ul{
      width: fit-content;
    }
    .sbar{
        margin: 0.1rem 0;
    }
    .sbar form>input{
      width: 10.5rem;
    }
    .list button{
    transform: scale(0.7);
    }
    .list button:first-child{
  /* background-color: rgb(255, 0, 149); */
  left: -20px;
}
.list button:last-child{
    margin-right: 0.1rem;
    /* background-color: green; */
    right: -20px;
}
.list{
      padding: 0 1rem;

}
}
@media (min-width: 300px) and (max-width: 500px) {
  .maincon{
        height: 7.8rem;
        padding-bottom: 1rem;
        padding-top: 0.6rem;
    }
  .maincon ul{
    margin-bottom: 0.1rem;
  }
}
     @media (min-width: 950px){
      .list button:first-child{

  left: 0px;
}
.list button:last-child{
    right: 0px;
}
     }