.listcon {
    /* background-color: aqua; */
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.list {
    /* background-color: #8a2be2; */
    /* display: flex; */
    flex-wrap: wrap;
    padding-top: 0.2rem;
    max-width: fit-content;
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding-left: 0;
}
.list li{
    list-style: none;
}
.listItem {
    background-color: rgb(255, 255, 255);
    margin: 0.1rem 0.15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 15rem;
    min-height: 13.3rem;
    /*border-radius: 12px;
    padding: 0.7rem 0.7rem 0.5rem 0.7rem; */
    border-radius: 3px;
    padding: 0.6rem 0.7rem 0.5rem 0.7rem;
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26); */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.163);
    /* horizontal | vertical | blur | spread | color */
    break-inside: avoid;
}

.listItem:hover {
    transform: scale(1.02);
}

.listItem img {
    border-radius: 0px;
    /* width: 13.5rem;
    height: 9rem; */
    width: 13.5rem;
    height:10rem;
}

.listItem span {
    font-size: 0.85rem;
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-color: #e12222; */
    padding: 0.2rem 0 0 0;
    color: #3b3b3b;
    min-height: 2rem;
    /* font-weight: 300; */

    padding: 0.4rem 0 0 0;
    color: #222222;
    min-height: 2rem;
}

.sh {
    width: fit-content;
    margin-left: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #8b8b8b;
}

.noresult {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    font-weight: 100;
    font-size: 1.9rem;
    color: #727272;
    text-align: center;
    /* background-color: rebeccapurple; */
    min-height: 100vh;
}
.linkWrapper{
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 400px) {
    .listItem img {
        border-radius: 0px;
        width: 19.5rem;
        height: 13rem;
        justify-self: center;
        align-self: center;
    }
    .sh{
        margin: 0.2rem 0 0.2rem 2.5rem;
    }
    .listItem {
        background-color: rgb(255, 255, 255);
        margin: 0.4rem;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 22rem;
        padding-top: 1rem;
    }
    .list {
    /* background-color: #8a2be2; */
    /* display: flex; */
    flex-wrap: wrap;
    padding: 0.3rem 0.2rem 0 0.2rem;
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
}
.listItem span {
    margin: 0.3rem;
    font-size: 1rem;
}
}

@media (min-width: 400px) and (max-width: 680px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        /* background-color: #3b3b3b; */
    }
}
@media (min-width: 890px) and (max-width: 1350px) {
    .list{
        grid-template-columns: repeat(4, 1fr);

    }
}
@media (min-width: 1350px) and (max-width: 1550px) {
       .list{
        grid-template-columns: repeat(5, 1fr);

    }
}